.caption .button {

    -fx-pref-height: Infinity;
    -fx-border-radius: 0;
    -fx-border-style: none;

    -fx-font-family: "Segoe Fluent Icons", "Segoe MDL2 Assets", "Segoe UI", "arial";
    -fx-font-size: 10px;

    -fx-pref-width: 46px;
    -fx-min-width: 46px;
    -fx-max-width: 46px;
}

.caption {
    -fx-min-height: 31px;
}
